<section id="content">
  <article>
    <%=raw @page.content_for(:body) %>
  </article>
  <aside>
    <%=raw @page.content_for(:side_body) %>
  </aside>
</section>
<div class="clear"></div>
<section id="contact">
  <section class="infos">
    <%=raw @page.content_for(:formulaire) %>
    <div class="form">
      <% if flash[:notice] %>
        <span class="notification-green">
          <%= flash[:notice] %>
        </span>
      <% end %>
      <% if flash[:error] %>
        <span class="notification-red">
          <%=raw flash[:error] %>
        </span>
      <% end %>
      <div class="clear"></div>
      <%= form_for Inquiry.new do |f| %>
        <p class="marron">Vous pouvez me contacter par mail directement ici :</p>
        <label>Email*</label>
        <div>
          <%= f.text_field :email, :value => flash[:email] %>
        </div>
        <label>Message*</label>
        <div>
          <%= f.text_area :message, :rows => 10, :cols => 62, :value => flash[:message] %>
        </div>
        <div>
          <%= f.submit "Envoyer le message" %>
        </div>
      <% end %>
    </div>
  </section>
  <section class="map">
    <iframe width="400" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=84+Rue+du+Ch%C3%A2teau,+Boulogne-Billancourt&amp;aq=3&amp;oq=+84+rue+du+ch%C3%A2teau+&amp;sll=46.75984,1.738281&amp;sspn=9.756415,17.841797&amp;ie=UTF8&amp;hq=&amp;hnear=84+Rue+du+Ch%C3%A2teau,+92100+Boulogne-Billancourt,+Hauts-de-Seine,+%C3%8Ele-de-France&amp;t=m&amp;ll=48.849072,2.24061&amp;spn=0.015815,0.034246&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  </section>
</section>
